.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
    display: block;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px; 
}
.favorites__list_li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 5px;
    height: 20px;
}
.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    transition: all 0.2s linear;
}
.un-favorites{
    border: solid 1px black;
    background-color: white;
    padding: 10px 15px;
    color: black;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}
.navLink__style{
    width: fit-content;
    color: black;
    text-decoration: none;
}