.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
} 
.main-page__main-section { 
    padding-top: 30px;
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%; 
} 
.main-page__search-box {
    margin-bottom: 35px;
} 
.main-page__favorites {
    width: 35%;   
}

@media (max-width : 700px){
    .main-page__content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .main-page__main-section , .main-page__favorites{
        width:90%;
    } 
}